# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
/src/app/cogwheel-corvids/tracker.md
/src/app/drillbit-duchy/tracker.md
/src/app/logical-lizards/tracker.md
/src/app/riverfolk-robots/tracker.md
/src/app/ai-hundred/tracker.md
/src/app/ex-machina/tracker.md
/src/app/chameleandroid/tracker.md
/src/app/circuit-board-goats/tracker.md
/src/assets/inicon/Root Assets