
<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ 'Priorities.Title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{ 'CloseText' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="button-bar">
    <ion-button *ngFor="let button of buttonsAndImages" 
                [disabled]="img === button.map"
                (click)="changeMap(button.map)">{{ 'Priorities.' + button.name | translate }}</ion-button>
  </div>

  <div class="map-container">
    <img class="map" [src]="'assets/priority/' + img + '.png'" />
  </div>

</ion-content>