
<ion-header translucent>
  <ion-toolbar>
    <ion-title>Map Priorities</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="button-bar">
    <ion-button *ngFor="let button of buttonsAndImages" 
                [disabled]="img === button.map"
                (click)="changeMap(button.map)">{{ button.name }}</ion-button>
  </div>

  <div class="map-container">
    <img class="map" [src]="'assets/priority/' + img + '.png'" />
  </div>

</ion-content>