:host {
  --theme-color: #e07a37;
  display: block; /* Add this */
  width: 100%; /* Add this */
}

ion-toolbar {
  --ion-color-primary: var(--theme-color);
}

.flip-front {
  border-color: var(--theme-color) !important;
}

.plot-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  margin-top: 15px;
  margin-left: 2.5em;
  margin-right: 2.5em;
  @media (max-width: 1200px) {
    display: block;
    grid-gap: 1em;
  }
}

.plot-cell {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.03);
  margin: 0 2em 0 2em;
  @media (max-width: 1200px) {
    max-width: fit-content;
    gap: 3em;
    margin: auto;
    margin-bottom: 1em;
  }
  
}

.plot-storage {
  @media (max-width: 1200px) {
    width: fit-content;
    justify-content: center;
    margin: auto;
  }
  .plot-cell {
    @media (max-width: 1200px) {
      display: grid;
      padding: 2em;
      grid-template-columns: 5em 5em 5em 5em;
      gap: .5em;
      justify-content: center;
      .row-additions {
        grid-column: 1/-1;
        justify-content: center;
        margin-top: .5em;
      }

    }
  }
}

.plot-label {
  width: 5em;
  height: 5em;
  object-fit: contain;
}

.divider {
  height: 2.5em;
  width: 0.5em;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 1em;
  border-radius: 1px;
}

.plot-toggle {
  margin-right: 0em;
  transition: opacity 0.2s ease;
  object-fit: contain;

  &.in-supply {
    opacity: 0.3; /* Fades the plot-back.png to indicate it's not on the board yet */
  }
}

.plot-icon {
  max-width: none;
  max-height: none;
  width: 5em;
  height: 5em;
}

.plot-count {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  width: 3em;
  text-align: center;
}

.row-additions {
  display: flex;
  align-items: center;
  padding-left: .2em;
  gap: 1em;
}
