<ion-toolbar color="primary">
  <ion-title>
    <span id="Marquise">
      <span class="ion-hide-sm-down">{{
        'Factions.Mechanical Marquise' | translate
      }}</span>
      <span class="ion-hide-md-up">{{
        'FactionsShort.Mechanical Marquise' | translate
      }}</span>
    </span>
  </ion-title>

  <ion-buttons slot="end">
    @if (!bot.setupHidden) {
      <ng-container>
        <ion-button (click)="toggleSetup()">
          <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
        </ion-button>
      </ng-container>
    }
    @if (bot.setupHidden) {
      <ng-container>
        <ion-button (click)="toggleSetup()">
          <ion-icon slot="icon-only" name="radio-button-off"></ion-icon>
        </ion-button>
      </ng-container>
    }
    <ion-button (click)="botService.removeBot(bot)">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-list
  lines="none"
  class="no-pointer"
  [class.setup-hidden]="bot.setupHidden"
>
  @if (!bot.setupHidden) {
    <ng-container>
      <ion-item class="setup-bottom-container">
        <ion-card>
          <ion-card-header>
            <h2
              >{{ 'BotSetup.Setup' | translate }} ({{ bot.setupPosition }})</h2
            >
          </ion-card-header>
          <ion-card-content>
            <ol>
              <li>
                <a
                  (click)="botService.showPriorities()"
                  (keydown.enter)="botService.showPriorities()"
                  tabindex="0"
                  role="button"
                  >{{ 'BotSetup.PriorityMarkers' | translate }}</a
                >
              </li>
              @for (rule of bot.setupRules; track rule) {
                <li
                  [innerHTML]="
                    'SpecificSetup.Mechanical Marquise.' + rule
                      | translate
                      | format
                  "
                ></li>
              }
            </ol>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ng-container>
  }

  @if (!bot.setupHidden) {
    <ng-container>
      <ion-item>
        <ion-card>
          <ion-card-header>
            <h2
              >{{ 'BotSetup.Setup' | translate }} ({{ bot.setupPosition }})</h2
            >
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-radio-group
                [value]="bot.difficulty"
                (ionChange)="changeDifficulty($event.detail.value)"
              >
                @for (
                  diff of ['Easy', 'Normal', 'Challenging', 'Nightmare'];
                  track diff
                ) {
                  <ion-item button (click)="changeDifficulty(diff)">
                    <ion-radio slot="start" [value]="diff"></ion-radio>

                    <ion-label class="ion-text-wrap">
                      <h2>{{ 'BotSetup.Difficulty.' + diff | translate }}</h2>
                      <p
                        [innerHTML]="
                          'SpecificDifficulty.Mechanical Marquise.' + diff
                            | translate
                            | format
                        "
                      ></p>
                    </ion-label>
                  </ion-item>
                }
              </ion-radio-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ng-container>
  }

  @if (!bot.setupHidden) {
    <ng-container>
      <ion-item>
        <ion-card>
          <ion-card-header>
            <h2>{{ 'BotSetup.ChooseTraits' | translate }}</h2>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              @for (rule of bot.rules; track rule) {
                <ion-item
                  button
                  (click)="rule.canToggle && botService.toggleRule(rule)"
                >
                  <ion-checkbox
                    slot="start"
                    [disabled]="!rule.canToggle"
                    (click)="
                      botService.toggleRule(rule); $event.stopPropagation()
                    "
                    [checked]="rule.isActive"
                  ></ion-checkbox>

                  <ion-label class="ion-text-wrap">
                    <h2>{{ 'SpecificRules.' + rule.name | translate }}</h2>
                    <p
                      [innerHTML]="
                        'SpecificRules.' + rule.text | translate | format
                      "
                    ></p>
                  </ion-label>
                </ion-item>
              }
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ng-container>
  }

  @if (bot.setupHidden) {
    <ng-container>
      <ion-item>
        <ion-card>
          <ion-card-header>
            <h2>{{ 'Sections.DifficultyTraits' | translate }}</h2>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              @if (bot.difficulty !== 'Normal') {
                <ng-container>
                  <ion-item>
                    <ion-label class="ion-text-wrap">
                      <h2>
                        {{ 'BotSetup.DifficultyText' | translate }}:
                        {{ bot.difficulty }}
                      </h2>
                      <p
                        [innerHTML]="
                          'SpecificDifficulty.Mechanical Marquise.' +
                            bot.difficulty
                            | translate
                            | format
                        "
                      ></p>
                    </ion-label>
                  </ion-item>
                </ng-container>
              }
              @for (rule of bot.rules; track rule) {
                <ion-item [class.ion-hide]="rule.canToggle && !rule.isActive">
                  <ion-label class="ion-text-wrap">
                    <h2>{{ 'SpecificRules.' + rule.name | translate }}</h2>
                    <p
                      [innerHTML]="
                        'SpecificRules.' + rule.text | translate | format
                      "
                    ></p>
                  </ion-label>
                </ion-item>
              }
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ng-container>
  }

  @if (bot.setupHidden) {
    <ng-container>
      <ion-item>
        <app-bot-resources [bot]="bot"></app-bot-resources>
      </ion-item>
    </ng-container>
  }

  @if (bot.setupHidden) {
    <ng-container>
      <ion-item>
        <ion-card>
          <ion-card-header>
            <h2>{{ 'Sections.Buildings' | translate }}</h2>
          </ion-card-header>
          <ion-card-content>
            @for (building of buildings; track building) {
              <div>
                <div class="building-row">
                  <div class="row-icon">
                    <img
                      [src]="'assets/inicon/card-' + building.suit + '.png'"
                      alt=""
                    />
                  </div>

                  @for (num of [0, 1, 2, 3, 4, 5]; track num) {
                    <div class="flip-container">
                      <div class="flip-icon">
                        <img
                          [src]="
                            'assets/inicon/building-' +
                            building.building +
                            '.png'
                          "
                          alt=""
                          class="flip-back"
                          [class.transparent]="
                            bot.customData.buildings[building.suit][num]
                          "
                          (click)="toggleBuilding(building.suit, num)"
                          (keyup.enter)="toggleBuilding(building.suit, num)"
                          tabindex="0"
                        />

                        @if (bot.customData.buildings[building.suit][num]) {
                          <div
                            class="flip-front"
                            (click)="toggleBuilding(building.suit, num)"
                            (keyup.enter)="toggleBuilding(building.suit, num)"
                            tabindex="0"
                          >
                            +{{ num }}
                          </div>
                        }
                      </div>
                    </div>
                  }
                </div>
              </div>
            }
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ng-container>
  }

  @if (bot.setupHidden) {
    <ng-container>
      <ion-item>
        <ion-card>
          <ion-card-header>
            <h2 class="birdsong-has-buttons">
              {{ 'Sections.Birdsong' | translate }}
              @for (suit of ['bird', 'fox', 'bunny', 'mouse']; track suit) {
                <ion-button
                  class="ion-margin-start"
                  (click)="changeSuit(suit)"
                  [class.transparent]="bot.customData.currentSuit !== suit"
                >
                  <img
                    class="click-icon"
                    slot="icon-only"
                    [src]="'assets/inicon/card-' + suit + '.png'"
                    alt=""
                  />
                </ion-button>
              }
            </h2>
          </ion-card-header>
          <ion-card-content>
            <ol>
              @for (message of birdsongMessages; track $index) {
                <li class="rule-message">
                  <app-para [bot]="bot" [metadata]="message"></app-para>
                </li>
              }
            </ol>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ng-container>
  }

  @if (bot.setupHidden) {
    <ng-container>
      <ion-item>
        <ion-card>
          <ion-card-header>
            <h2>{{ 'Sections.Daylight' | translate }}</h2>
          </ion-card-header>
          <ion-card-content>
            <ol>
              @for (message of daylightMessages; track $index) {
                <li class="rule-message">
                  <app-para [bot]="bot" [metadata]="message"></app-para>
                </li>
              }
            </ol>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ng-container>
  }

  @if (bot.setupHidden) {
    <ng-container>
      <ion-item>
        <ion-card>
          <ion-card-header>
            <h2>{{ 'Sections.Evening' | translate }}</h2>
          </ion-card-header>
          <ion-card-content>
            <ol>
              @for (message of eveningMessages; track $index) {
                <li class="rule-message">
                  <app-para [bot]="bot" [metadata]="message"></app-para>
                </li>
              }
            </ol>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ng-container>
  }
</ion-list>
