<ion-app>
  <ion-split-pane contentId="main" [disabled]="botService.bots.length === 0">
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            {{ 'NavTitle' | translate }}
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list lines="none" class="preserve-padding ion-no-padding">
          <ion-item color="primary"
                    href="https://ledergames.com/collections/full-catalog"
                    target="_blank"
          >
            <div class="plug">
              {{ 'LederPlug' | translate }}
            </div>
          </ion-item>

          <ion-menu-toggle autoHide="false">
            <ng-container *ngFor="let bot of botService.bots">
              <ion-item color="transparent"
                        class="bot"
                        (click)="botService.goToBot(bot.name)">
                        <img class="inline-icon ion-margin-end" [src]="'assets/inicon/faction-' + botService.botMeta[bot.name].icon + '.png'" />
                        {{ 'Factions.' + botService.botMeta[bot.name].fullName | translate }}
                        <em class="ion-margin-start" *ngIf="!bot.setupHidden">({{ 'NeedsSetup' | translate }})</em>
              </ion-item>
            </ng-container>
            <ion-item (click)="botService.showPriorities()">
              <div class="inline-icon ion-margin-end"></div>
              {{ 'PriorityMaps' | translate }}
            </ion-item>
          </ion-menu-toggle>

          <ion-item class="language">
            <ion-label>Language</ion-label>
            <ion-select placeholder="Select Language" (ionChange)="languageChange()" [(ngModel)]="language">
              <ion-select-option value="en-US">English</ion-select-option>
              <ion-select-option value="fr-FR">Français</ion-select-option>
              <ion-select-option value="es-ES">Español</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <h2 class="ion-text-center call-to-action">Want to contribute?<br>Check out the <a href="https://github.com/Vagabottos/clockroot">GitHub repo!</a></h2>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main"></ion-router-outlet>

  </ion-split-pane>
</ion-app>
