
:host {
  --theme-color: #e07a37;
}

ion-toolbar {
  --ion-color-primary: var(--theme-color);
}

.flip-front {
  border-color: #4daaa4 !important;
  border-radius: 2em;
}

:host {
  display: block;   /* Add this */
  width: 100%;      /* Add this */
  --theme-color: #e07a37;
}