/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// plain
@font-face {
  font-family: "Libre Baskerville";
  src: url("/assets/fonts/LibreBaskerville-Regular.eot");
  src: url("/assets/fonts/LibreBaskerville-Regular.eot?#iefix") format('embedded-opentype'),
       url("/assets/fonts/LibreBaskerville-Regular.woff2") format('woff2'),
       url("/assets/fonts/LibreBaskerville-Regular.woff") format('woff'),
       url("/assets/fonts/LibreBaskerville-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* italic */
@font-face {
  font-family: "Libre Baskerville";
  src: url("/assets/fonts/LibreBaskerville-Italic.eot");
  src: url("/assets/fonts/LibreBaskerville-Italic.eot?#iefix") format('embedded-opentype'),
       url("/assets/fonts/LibreBaskerville-Italic.woff2") format('woff2'),
       url("/assets/fonts/LibreBaskerville-Italic.woff") format('woff'),
       url("/assets/fonts/LibreBaskerville-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* bold */
@font-face {
  font-family: "Libre Baskerville";
  src: url("/assets/fonts/LibreBaskerville-Bold.eot");
  src: url("/assets/fonts/LibreBaskerville-Bold.eot?#iefix") format('embedded-opentype'),
       url("/assets/fonts/LibreBaskerville-Bold.woff2") format('woff2'),
       url("/assets/fonts/LibreBaskerville-Bold.woff") format('woff'),
       url("/assets/fonts/LibreBaskerville-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Libre Baskerville", serif;
}

ion-toolbar, ion-content, ion-router-outlet, .popover-content, .alert-wrapper {
  --background: url("/assets/background.png") repeat;
}

ion-router-outlet {
  background: url("/assets/background.png") repeat;
}

ion-list {
  --ion-item-background: url("/assets/background.png") repeat;
}

ion-list:not(.no-pointer) ion-item, ion-button, ion-radio, .flip-icon {
  cursor: pointer;
}

ion-card-header h2 {
  margin: 0;
}

ion-card {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

ion-list:not(.preserve-padding) ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
}

ion-label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.inline-icon {
  max-height: 16px;
  max-width: 16px;
  display: inline !important;
}

.flip-front, .flip-back {
  cursor: pointer;
}

.flip-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flip-icon {
  max-height: 64px;
  max-width: 64px;
}

.blank-slate {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  opacity: 0.6;
}

.rule-message {
  margin-bottom: 5px;
}
.click-icon {
  min-height: 24px;
  min-width: 24px;

  max-width: 24px;
  max-height: 24px;

  display: inline;

  cursor: pointer;
}

.birdsong-has-buttons {
  display: flex;

  ion-button {
    margin-top: 0;

    --padding-start: 0;
    --padding-end: 0;
  }
}

.row-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  max-height: 64px;
  max-width: 64px;
  max-height: 64px;
}

.building-row {
  display: flex;
  margin-top: 5px;

  flex-wrap: wrap;

  justify-content: center;

  .flip-container {
    width: auto;
    margin-left: 10px;
    cursor: pointer;

    max-width: 64px;
    max-height: 64px;

    .flip-icon {
      position: relative;

      .flip-front {
  
        display: flex;
        justify-content: center;
        align-items: center;
  
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
  
        font-size: 2rem;
  
        border: 3px solid #CC6E31;

        &.token {
          border-radius: 50%;
        }
      }
  
      .flip-back.hidden {
        visibility: hidden;
      }

      .flip-back.transparent {
        opacity: 0.2;
      }

      .flip-back.exhausted {
        filter: grayscale(100%);
      }
    }
  }
}

ion-button.transparent {
  opacity: 0.35;
}