<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <span class="ion-hide-sm-down">{{ 'AppTitle' | translate }}</span>
      <span class="ion-hide-md-up">{{ 'AppTitleShort' | translate }}</span>
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="reset()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
      <ion-button (click)="addBot($event)">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="blank-slate" *ngIf="botService.bots.length === 0">
    {{ 'AddBot' | translate }} <ion-button class="ion-margin-start" (click)="addBot($event)"><ion-icon slot="icon-only" name="add"></ion-icon></ion-button>
  </div>

  <ion-list lines="none" class="ion-no-padding">
    <ion-item *ngFor="let bot of botService.bots">
      <app-marquise *ngIf="bot.name === 'Marquise'" [bot]="bot"></app-marquise>
      <app-eyrie *ngIf="bot.name === 'Eyrie'" [bot]="bot"></app-eyrie>
      <app-woodland *ngIf="bot.name === 'Woodland'" [bot]="bot"></app-woodland>
      <app-vagabond *ngIf="bot.name === 'Vagabond'" [bot]="bot"></app-vagabond>
    </ion-item>
  </ion-list>
</ion-content>
