<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="botService.bots.length > 0"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Root: The Clockwork Companion
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="reset()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
      <ion-button (click)="addBot($event)">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="blank-slate" *ngIf="botService.bots.length === 0">
    Add a bot by clicking the <ion-icon slot="icon-only" name="add"></ion-icon>
  </div>

  <ion-list lines="none">
    <ion-item *ngFor="let bot of botService.bots">
      <app-marquise *ngIf="bot.name === 'Marquise'" [bot]="bot"></app-marquise>
    </ion-item>
  </ion-list>
</ion-content>
